<div class="header">
  <div class="left-header">
    <div class="header-logo"></div>
    {{#link-to "index"}}
    {{!-- My custom dummy logo made with Sketch --}}
    <img src="assets/images/git-the-git-logo.png" alt="git the gist logo">
    {{/link-to}}
    <span>All gists</span>
    <span>Back to GitHub</span>
  </div>
  <div class="right-header">
    {{#link-to "add-gist"}}
      <span>New Gist</span>
    {{/link-to}}
  </div>
</div>