<AddGist></AddGist>

{{!-- {{#each this.gists as |gist|}}
  <hr>
  <div class="file-block">
    <div class="file-header">
      <h2>{{gist.description}}</h2>
      <small>{{gist.fileName}}</small>
    </div>
  </div>
  <div class="code-box">
    <CodeBlock @language="javascript">
      {{gist.body}}
    </CodeBlock>
  </div>
{{/each}} --}}